@font-face {
    font-family:'Bebas Neue', sans-serif; 
    src: url(font/Bebas_Neue/BebasNeue-Regular.ttf);
}

* {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(0, 0, 0);
        height: 100vh;
        width: 100vw;
        color: black;
        
        
    }

    div {
        display: flex;
    }


    #main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    img {
        width: 60%;
        height: auto;
        box-shadow: 5px 5px 20px 0px orange;
        margin-top: 30px;
    }

.heading {
  background-color: orange;
  margin-top: 25px;
  padding: 5px;
  font-family: 'Bebas Neue', sans-serif;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  
}

.heading div {
    width: 100%;
}

.heading h1{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: -20px;
    position: relative;
    left: -80px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.navbar a{
    padding: 10px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 25px;
    margin-top: 45px;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    
}

.navbar a:hover{
    background-color: black;
    color: orange;
}

.navbar li{
    float: left;
}
