@font-face {
    font-family: 'Bebas Neue', sans-serif;
    src: url(font/Bebas_Neue/BebasNeue-Regular.ttf);
}

body {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #000000;
    color: black;
    text-align: center;
}

.header {
    background-color: #fca311;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
}

.navbar {
    background-color: orange;
    padding: 3px;
    text-align:center;
    display: flex;
    justify-content: center;
}

.navbar a {
    padding: 15px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    
}

.navbar li{
    float:left;
    ;
}

.navbar a:hover {
    background-color: #000000;
    color: orange;
}

.card {
    background-color: #fca311;
    width: 450px;
    margin: 50px auto;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;
}

.card img {
    width: 180px;      
    height: 180px;    
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 15px;
}

.name {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.sub-title {
    font-size: 16px;
    margin-bottom: 25px;
}

.info{
    text-align: left;
}

.skill {
    text-align: left;
    font-size: 19px;
    font-weight: bold;
    margin: 8px 0;
}

.hobby {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin: 8px 0;
}

.back {
    margin-top: 15px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    justify-content: left;
}

button{
    background-color: orange;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    font-size: 14px;
    font-family: 'Bebas Neue', sans-serif;
}

button:hover{
    background-color: black;
    color: orange;
}

