@font-face {
    font-family:'Bebas Neue', sans-serif; 
    src: url(font/Bebas_Neue/BebasNeue-Regular.ttf);
}

body{
    margin: 0;
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
}

.heading {
  background-color: orange;
  margin-top: 25px;
  padding: 5px;
  font-family: 'Bebas Neue', sans-serif;
}

.heading h1{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: -20px;
}

.navbar a{
    padding: 15px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.navbar a:hover{
    background-color: black;
    color: orange;
}

.navbar li{
    float: left;
}

h2{
    color: white;
    font-size: 35px;
    border: 15px solid orange;
    margin: 20px;
    padding: 20px;
    border-width: 10px;
    text-align: center;
}

.img1 {
    float: right;
     margin-left: 20px;   
    margin-bottom: 10px; 
    padding-right: 30px;
}

p{
    color: white;
    margin-left: 50px;
    justify-items: center;
    text-align: left;
    padding: 3px;
    font-size: 22px;
}

button{
    background-color: rgb(0, 0, 0);
    color: orange;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 50px;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
}

button:hover{
    background-color: orange;
    color: rgb(0, 0, 0);
}

b{
    color: orange;
}

#body_content{
    margin: 0;
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
    overflow-x: hidden;
}
#heading_content h1 {
    background-color: orange;
    margin-top: 25px;
    padding: 5px;
    font-size: 2.5em;
    text-align: center;
}

#div_content {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    padding: 5rem;
    font-family: 'Bebas Neue', sans-serif;
    gap: 1rem;
    flex-wrap: wrap;
}

.head_content{
    flex-direction: column;
    width: 25rem;
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 5px 20px -10px rgb(0, 0, 0,.25);
}

.desc_container {
    flex-direction: column;
    padding: 2rem;
}

.platform_container{
    background-color: white;
    width: 20rem;
    height: 25rem;
    border-radius: 25px;
}

.platform_container img{
    width: 100%;
    border-radius: 25px 25px 0 0;
}

.platform_container h3{
    font-size: 1.3em;
}

.examples{
    margin: 20px;
}

.example{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 10px 0 20px 20px;
    padding: 10px;
    border-radius: 8px;
}

.example_img{
   width: 100px;
   height: 100px;
   object-fit: contain;
   margin-right: 15px;
   
}

.title{
    color: orange;
    text-align: left ;
    margin-left: 90px;
   font-size: 2em;
}
.example p{
    font-size: 1.5em;
    color: #000000;
}

.main_div{
    background-color: black;
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
}

.profile_header{
    background-color: orange;
    text-align: center;
    padding: 20px 0;
}

.profile_header h2{
    color: black;
    font-size: 28px;
    padding: 20px;
    font-weight: bold;
    margin: 0;
}

.card {
  background-color: #f4a300;
  width: 70%;
  max-width: 900px;
  margin: 60px auto;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
  box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

.profile{
    text-align: center;
    width:50px;
    margin-bottom: 20px;
}

.profile img{
    width: 160px;
    height: 160px;
    border-radius: 10px;
    object-fit: cover;
    border: 4px solid rgb(0, 0, 0);
    box-shadow: 0 6px 18px rgba(2, 6, 23, 0.6);
    outline: none;
    text-decoration: none;
    border: none;
}

.profile h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0 5px;
    color: black;
    border: none;
    
}

.profile p{
    margin: 15px 0 5px;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.contact{
    width: 50px;
}

.contact h3{
    margin-bottom: 10px;

}

.socials{
    margin: 10px 0;
}

.socials img {
    width: 35px;
    margin-right: 20px;
    cursor: pointer;
}
